.logo {
  width: 100% !important;
}

html .ui-bar-a,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
  background: #FFFFF0;
  background-color: #FFFFF0;
  border-color: #FFFFF0;
  color: #232323;
}

html .ui-page-theme-a .ui-bar-inherit {
  background: #FFFFF0;
  background-color: #D26437;
  border-color: #FFFFF0;
  color: #FFFFF0;
  font-weight: 700;
}

html .ui-overlay-a,
html .ui-page-theme-a,
html .ui-page-theme-a .ui-panel-wrapper {
  background: #f9f9f9;
  background-color: #FFFFF0;
}

html .ui-page-theme-a .ui-btn,
html .ui-bar-a .ui-btn,
html .ui-body-a .ui-btn,
html body .ui-group-theme-a .ui-btn,
html body .ui-btn.ui-btn-a,
html .ui-page-theme-a .ui-btn:visited,
html .ui-bar-a .ui-btn:visited,
html .ui-body-a .ui-btn:visited,
html body .ui-group-theme-a .ui-btn:visited,
html body .ui-btn.ui-btn-a:visited {
  background: #ffc850;
  border: none !important;
  color: #232323;
}